* {
  box-sizing: border-box;
}

/* Global variables */
:root {
  --primary-color: #00838f;
  --background-color: #ffffff;
  --grid-background-color: rgba(211, 211, 211);
  --border-color: rgba(0, 0, 0);
  --font-style: 'Poppins';
  --button-transition: opacity 0.9s;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Headings styles */
h1, h2 {
  font-family: var(--font-style), sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 2;
}

h2 {
  font-weight: 200;
  font-size: 24px;
  line-height: 1.75;
}

/* Anchor styles */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: var(--background-color);
}

/* Profile styles */
.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* Buttons */
.button, button, .button_secondary {
  border: none;
  display: inline-block;
  font-family: var(--font-style);
  transition: var(--button-transition);
  cursor: pointer;
}

.button, button {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  border-bottom: 2px solid var(--border-color);
}

.button_secondary {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  border-bottom: 2px solid var(--border-color);
}

.button:hover, button:hover, .button_secondary:hover {
  opacity: 0.8;
}

/* Menu transition styles */
div.menu-transition a::before, div.menu-transition a::after {
  justify-content: center;
  position: absolute;
  left: 0;
  width: 89%;
  height: 2px;
  background: var(--primary-color);
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.menu-transition a::before {
  top: 0;
  transform: translateY(-10px);
}

div.menu-transition a::after {
  bottom: 0;
  transform: translateY(10px);
}

div.menu-transition a:hover::before, div.menu-transition a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

/* Logo styles */
.page-header__logo {
  display: flex;
  width: 100%;
  height: 320px;
  padding-top: 150px;
  padding-left: 40px;
}

/* Navigation styles */
.navigation-list-item {
  margin-right: 10px;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  padding-bottom: 1px;
  padding-top: 150px;
  justify-content: flex-end;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  color: var(--background-color);
}

.navbar {
  width: 100%;
  text-align: right;
  padding-top: 140px;
  padding-right: 50px;
}

/* Footer styles */
.profile_portrait {
  padding-top: 10px;
  height: auto;
  width: 250px;
  margin-right: 40px;
  float: left;
  border-radius: 25%;
  padding-bottom: 20px;
}

.page-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: sticky;
  bottom: 0;
}

/* Grid styles */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}

.grid_item {
  background-color: var(--grid-background-color);
  padding: 20px;
  border-radius: 10%;
  text-align: center;
}

/* Svg animation */
@keyframes color-change {
  0% {
    fill: var(--svg-sun-color-start);
  }

  50% {
    fill: var(--svg-sun-color-half-color);
  }

  100% {
    fill: var(--svg-sun-end-color-state);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(50px, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(550px, 48px);
  }

  to {
    transform: translate(6px, 48px);
  }
}

svg .sun {
  animation-duration: 5s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

svg .cloud-front {
  animation: 20s cloud-move-reverse infinite alternate linear;
}

.cloud-back {
  animation: 10s cloud-move-reverse infinite alternate linear;
}

/* Additional styles and media queries can be added below */
